services:
  api:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "21465:3000"
    environment:
      - MONGO_URL=mongodb://host.docker.internal:27017/wabot?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.10
      - PORT=3000
    restart: unless-stopped